*.pyc
*~
.idea/
bin/
datetimemocker/bin/
datetimemocker/include/
datetimemocker/lib/
datetimemocker/pip-selfcheck.json
datetimemocker/share/
include/
lib/
lib64
pip-selfcheck.json
pyvenv.cfg
share/
datetimemocker/__pycache__/
datetimemocker/test/__pycache__/
.tox/
*.egg-info/
